<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <nobr>
    <a href="/">Home</a>
<a href="/signup">Signup</a>
<a href="/login">Login</a></nobr>
    <title>Spritle</title>
<link rel=stylesheet href="/css/style.css">
</head>
<body background="/img/bgm.png">
<h1>Code Tesst.....</h1>
<p>Thank you Spritle for replying my Email.....</p><br>
<p>project idea for code test is Awesome</p>
<p>Test my work.....</p>
<p>Have a good day</p>

</body>
</html>